*{
	margin:0;
	padding:0;
}
.wrapper{
	margin:0 auto;
	max-width:1140px;
	min-width:985px;
	cursor:pointer;
	
}

.top{
	width:58%;
	background-color:#f7f7f7;
	border:1px solid #e4e4e4;
}

.top ul{
	display:flex;
	list-style:none;
}

.top ul li{
	font:400 12px/39px Tahoma;
	color:#49a5dc;
	margin-left:10px;
	margin-right:11px;
}

.top a, .login a{
	font:400 12px/39px Tahoma;
	color:#49a5dc;
}

li.active a{
	color:#ed6178;
}

.top a:hover{
	color:#bc1242;
}

#yet{
	position:absolute;
	border:1px solid black;
	width:200px;
	height:400px;
	top:100px;
	left:500px;
	display:none;
}

.top li:nth-of-type(7):after{
	content: '▶ ';
	margin-left:2px;
}

header{
	display:flex;
}

.time_worked{
	background-color:#f7f7f7;
	border:1px solid #e4e4e4;
	width:250px;
	height:39px;
}

span.time{
	color: #999;
	font-size: 9px;
    line-height: 10px;
    margin: 10px 6px 0 15px;
    width: 40px;
    float: left;
}

span.number{
	font:400 24px/39px Tahoma;
}

span.number:after{
	margin-left: 7px;
    width: 32px;
    content: 'МТС, Velcom';
    font-size: 9px;
    line-height: 10px;
    margin-top: 10px;
    display: inline-block;
}

 .my{
	background:#f7f7f7 url("https://www.21vek.by/img/up/i-user_tools.png") no-repeat;
	background-position:24px 3px;
	width:112px;
	height:39px;
	border:1px solid #e4e4e4;
}

.my_room, .login{
	float:right;
	margin-right:26px;
	font:400 12px/39px Tahoma;
	color:#49a5dc;
}

.to_come_in{
	background:#f7f7f7 url("https://www.21vek.by/img/up/i-user_tools.png") no-repeat;
	background-position:24px -147px;
	width:112px;
	height:39px;
	border:1px solid #e4e4e4;
}

 .login{
	margin-right:20px;
}

 .login a:hover{
	color:#bc1242;
}

.to_come_in:hover,.my:hover,.time_worked:hover{
	background-color:#e8e8e8;
}

.logo_header{
	background:url("https://www.21vek.by/img/up/b-logo.png")no-repeat;
	position: relative;
    width: 157px;
    height: 53px;
	margin-top:20px;
	margin-left:25px;
	cursor:auto;
	float:left;
}

.header_search{
	height:90px;
}

.search{
	width:100%;
	height:38px;
	font:400 16px/22px arial;
	padding-left:10px;
	border:1px solid #6a5666;
	
}

.search_picture{
	position:absolute;
	background:url("https://www.21vek.by/img/up/search.png")no-repeat;
	right:10;
	width:19px;
	height:20px;
	border:0;
	bottom:10;
}

form{
	width:700px;
	margin-left:20px;
	height: 40px;
}

div.basket{
	float:right;
	border:1px solid #e4e4e4;
	margin-top:25px;
	margin-right:25px;
}

.pannier{
	float: left;
    z-index: 2;
    display: block;
    height: 40px;
    padding: 0 12px;
    background:#e2e2e2;
	line-height:40px;
	font:400 12px/38px tahoma;
	color:#858484;
	
  
}
.pannier:before{
	content:'';
	display:inline-block;
background:url("https://www.21vek.by/img/up/b-basket.png");
	width:14px;
	height:14px;
	margin-right:10px;
	
}
.basket a{
	text-decoration:none;
	color:black;
}
.not_goods{
	float: left;
	display:block;
	line-height:40px;
	height:40px;
	background: #f7f7f7;
	font:400 12px/38px tahoma;
	color:#858484;
	padding:0 15px 0 15px;
}
	
.form{
	position:relative;
	float:left;
	margin-top:25px;
}

@media screen and (max-width:1153px){
	.top li:nth-of-type(6){
	display:none;
}
	.top li:nth-of-type(7){
	margin-right:100px;
}

.form{
	max-width:550px;
}
.search{
	max-width:550px;
}
.discription{
	max-width:550px;
}

.posted_picture{
	max-width:550px;
}
}

@media screen and (max-width:1102px){
.top li:nth-of-type(4){
	display:none;
}
}

.discription{
	width:725px;
	height:364px;
	margin-left:25px;
	float:left;
	position:relative;
}
.posted_picture {
   background: url("https://www.21vek.by/img/tmp/banners/3874b.png")no-repeat;
   background-size:cover;
    width:725px;
	height:364px;
 }
 
.posted_picture:hover {
	box-shadow:0 0 4px  rgba(0,0,0,0.6);
}

#chetyre2:checked ~ .posted_picture {
  background: url("https://www.21vek.by/img/tmp/banners/3924b.png")no-repeat;
  background-size:cover;
}

#chetyre3:checked ~ .posted_picture {
 background: url("https://www.21vek.by/img/tmp/banners/3644b.png")no-repeat;
 background-size:cover;
}

input[type='radio']{
	display:none;
}

.discription label:nth-of-type(2):after{
	content:'';
	background-color:#cccccc;
	height:7px;
	width:7px;
	border-radius:50px;
	border:1px solid black;
	position:absolute;
	right:20;
	bottom:20;
}

.discription label:nth-of-type(1):after{
	content:'';
	cursor:pointer;
	background-color:#cccccc;
	height:7px;
	width:7px;
	border-radius:50px;
	border:1px solid black;
	position:absolute;
	right:40;
	bottom:20;
	
}
.discription label:nth-of-type(3):after{
	content:'';
	background-color:#cccccc;
	cursor:pointer;
	height:7px;
	width:7px;
	border-radius:50px;
	border:1px solid black;
	position:absolute;
	right:60;
	bottom:20;
}

.discription label:nth-of-type(3):hover:after,.discription label:nth-of-type(2):hover:after,.discription label:nth-of-type(1):hover:after{
	background-color:#A9A9A9;
}

.discription input[type=radio]:checked + label:after {
	border-radius:50px;
	width:7px;
	height:7px;
	background-color:#3366cc;
}

.discounts{float:left;width:364px;height:364px;display:flex;flex-wrap: wrap;}
.post{
	width:180px;
	height:180px;
	border:1px solid #E2E2E2;
}

.post:nth-of-type(1){
	background:url("https://www.21vek.by/img/tmp/banners/3954i.png")no-repeat 20px 30px;
	background-size:68%;
}

.post:nth-of-type(2){
	background:url("https://www.21vek.by/img/tmp/banners/3774i.png")no-repeat 20px 40px;
	background-size:76%;
}

.post:nth-of-type(3){
	background:url("https://www.21vek.by/img/tmp/banners/3674i.png")no-repeat 20px 30px;
	background-size:76%;
}

.post:nth-of-type(4){
	background:url("https://www.21vek.by/img/tmp/banners/3514i.png")no-repeat 80px 28px;
	background-size:38%;
}

.post:nth-of-type(1):hover,.post:nth-of-type(2):hover,.post:nth-of-type(3):hover,.post:nth-of-type(4):hover{
	box-shadow:0 0 4px  rgba(0,0,0,0.6);
}

.post a{
	height: 100%;
	display: block;
}

.things{
	position:relative;
	top:-180;
	font:550 18px Futura;
	padding:5px 0 0 10px;
	display:inline-block;
}

.popular_goods{
	clear:both;
}

.goods{
	
	float:left;
	width:790px;
	height:270px;
}

.goods ul{
	display:flex;
	flex-wrap:wrap;
	list-style:none;
}

.goods ul li{
	width:263px;
	height:134px;
}
.goods ul li img{
	float:left;
}

.discription_goods{
	float:left;
	width:171px;
	height:83px;
}

.name_goods{
	display:inline-block;
	margin-left:20px;
	font:400 12px/16px tahoma;
}

.name_goods a,.read a,.information_news a{
	color:#84d2ff;
}

.name_goods a:hover,.read a:hover,.information_news a:hover,.new_in_catalog a:hover{
	color:#bc1242;
}

.code_goods{
	display:inline-block;
	
	margin-left:20px;
	font:400 11px/15px tahoma;
	color:#999999;
}

.popular_goods{
	margin-left:25px;
	padding-top:20PX;
	position:relative;
	width:858px;
}

.popular_goods h2{
	margin-bottom:10px;
	font:700 14px/14px tahoma;
}

.price_goods{
	display:inline-block;
	margin-top:4px;
	margin-left:20px;
	font:400 14px/14px tahoma;
	color:#000000;
}

.reiting_goods{
	display:inline-block;
	background:url("https://www.21vek.by/img/up/i-rate.png")repeat-x;
	background-size:10px;
	background-position:0 -10px;
	height:10px;
	width:60px;
	margin-left:20px;
	margin-top:8px;
}

.goods li:nth-of-type(2) .reiting_goods{
	display:inline-block;
	background:url("https://www.21vek.by/img/up/i-rate.png")repeat-x;
	background-size:10px;
	background-position:0 -10px;
	height:10px;
	width:40px;
	margin-left:20px;
} 

.goods li:nth-of-type(3) .reiting_goods{
	display:inline-block;
	background:url("https://www.21vek.by/img/up/i-rate.png")repeat-x;
	background-size:10px;
	background-position:0 -10px;
	height:10px;
	width:50px;
	margin-left:20px;
} 

.goods li:nth-of-type(6) .name_goods,.goods li:nth-of-type(4) .name_goods,.goods li:nth-of-type(3) .name_goods {
	height:32px;
	width:165px;
	overflow:hidden;
	white-space: nowrap;
} 
.installment_plan{
	position:absolute;
	bottom:474;
	border:1px solid #881f82;
	background:url("https://www.21vek.by/img/tmp/widgets/installment.jpg")no-repeat;
	width:838px;
	height:79px;
	margin-left:25px;
}
.installment_plan:hover{
	position:absolute;
	bottom:474;
	border:1px solid #881f82;
	background:url("https://www.21vek.by/img/tmp/widgets/installment.jpg")0 100% no-repeat;
	width:838px;
	height:79px;
	margin-left:25px;
}
.installment_plan a{
	display:block;
	height:100%;
}

.left{
	float:left;
	width:15px;
	height:270px;
	margin-right:20px;
	background:url("https://www.21vek.by/img/up/arrow.png")no-repeat -48px 50%;
}

.right{
	float:left;
	width:15px;
	height:270px;
	background:url("https://www.21vek.by/img/up/arrow.png")no-repeat -80px 50%;	
}

aside{
	float:left;
	height:992px;
	width:240px;
	margin-top:25px;
}

.title_news{
	font:700 14px/14px tahoma;
	margin-bottom:11px;
	color:black;
}
.title_news a{
	color:black;
}

.shares{
	font:400 10px/14px tahoma;
	color:#999999;
	margin-bottom:5px;
}

.information_news,.discription_news{
	font:400 11px/15px Tahoma, sans-serif;
}

.information_news{
	margin-bottom:10px;
}

.discription_news{
	margin-bottom:15px;
}

article{
	border:1px solid #881f82;
	padding:15px;
}

.reviews_buyer{
	display:inline-block;
	font:700 14px/14px tahoma, sans-serif;
	margin-bottom:15px;
}

.name_buter{
	font:700 10px/13px tahoma, sans-serif;
	color:#4d4d4d;
}

.date_buyer,.reviews_buyer_order{
	display:inline-block;
	font:400 10px/13px tahoma, sans-serif;
	color:#4d4d4d;
	margin-bottom:10px;
}

.read{
	margin-left:50px;
}

.bonus{
	background:url("https://www.21vek.by/img/tmp/widgets/cobrend1.jpg");
	width:240px;
	height:144px;
	background-size:cover;
	margin-top:20px;
}

.bonus a,.payment a{
	display:block;
	height:100%;
}

.payment{
	background:url("https://www.21vek.by/img/tmp/widgets/payment.png");
	width:240px;
	height:34px;
	margin-top:40px;
}

.new_in_catalog{
	position:absolute;
	bottom:360px;
	width:839px;
	height:88px;
	margin-left:25px;
}

.left_content{
	width:875px;
	height:860px;
	float:left;
	position:relative;
}

.good_gifts{
	height:364px;
}

.new_in_catalog ul,.Our_advantages ul{
	display:flex;
	flex-wrap:wrap;
	list-style:none;
}

.new_in_catalog ul li{
	padding-right:12px;
}

.new_in_catalog ul li a{
	color: #5272cb;
	font: 400 12px/20px tahoma;
}

.new_in_catalog_title{
	font:700 14px/19px Tahoma, sans-serif;
	margin-bottom:7px;
}

.Our_advantages{
	padding-top:25px;
	border-top:1px solid #4d4d4d;
	position:absolute;
	bottom:30;
	width:839px;
	height:252px;
	margin-left:25px;
}

.Our_advantages li{
	width:418px;
	height:60px;
	margin-bottom:24px;
}

.Our_advantages img{
	float:left;
}

.title_advantages{
	display:inline-block;
	
}

.discription_advantages{

	font:400 10px/15px Tahoma, sans-serif;
	color:#4d4d4d;
}

.Our_advantages_title{
	font:700 14px/14px Tahoma, sans-serif;
	margin-bottom:25px;
}

footer{
	clear:both;
	background-color:#f7f7f7;
	border-top:1px solid #EDEDED;
	width:1140px;
	height:374px;
	position: relative;
    left: 0;
    bottom: 0;
}

.number_company ul{
	list-style:none;
}

.number_company li{
	margin:10px 0 0 30px;
}

nav{
	display:inline-block;
	width:236px;
	overflow:hidden;
	background-color:#f7f7f7;
	float:left;
}

.year{
	margin-left:25px;
	margin-top:28px;
}

.company,.service,.special_offer,.informational{
	float:left;
	margin-right:60px;
	margin-top:20px;
}

.company ul,.service ul,.special_offer ul,.informational ul{
	list-style:none;
}

.company a,.service a,.special_offer a,.informational a{
	font:400 11px/15px Tahoma, sans-serif;
	border-bottom: 1px solid rgba(0,114,188,0.2);
	color:#009edb;

}

.company a:hover,.service a:hover,.special_offer a:hover,.informational a:hover{
	color:#bc1242;
}

.company li:first-child,.service li:first-child,.special_offer li:first-child,.informational li:first-child{
	font:400 12px/16px Tahoma, sans-serif;
}

.company{
	margin-left:40px;
}

.company li,.service li,.special_offer li,.informational li{
	padding-top:8px;
}

.number_company a{
	color:#0072c9;
	font:400 11px/15px tahoma;
}

.vk{
	display:inline-block;
	background:url("https://www.21vek.by/img/up/i-social.png");
	width:22px;
	height:22px;
}

.facebook{
	display:inline-block;
	background:url("https://www.21vek.by/img/up/i-social.png")0 -25px;
	width:22px;
	height:22px;
}

.odnoclasniki{
	display:inline-block;
	background:url("https://www.21vek.by/img/up/i-social.png")0 -50px;
	width:22px;
	height:22px;
}

.instagram{
	display:inline-block;
	background:url("https://www.21vek.by/img/up/i-social.png")0 -75px;
	width:22px;
	height:22px;
}

.vk,.facebook,.odnoclasniki,.instagram{
	margin-right:10px;
	margin-top:10px;
}

.our_prize{
	display:inline-block;
	width:135px;
	height:56px;
	background:url("https://www.21vek.by/img/awards.png");
}

.idea{
	position:absolute;
	bottom:50;
	right:0;
	background-color:#f7f7f7;
	width:250px;
	height:46px;
	margin-right:20px;
}

.idea A:hover{
	color:#bc1242;
}
.idea A{
	color:black;
	text-decoration:none;
	border-bottom:1px dotted rgba(0,114,188,0.5);
}
nav.adress{

	width:100%;
  position:absolute;
	bottom:0;
	left:0;
	background-color:#f7f7f7;
	height:49px;	
}
nav.adress li{
	font:400 10px/12px Tahoma, sans-serif;
	color:#999999;
	float:left;
	margin-right:100px;
	margin-top:5px;
}
nav.adress ul{
	margin-right: 25px;
	list-style:none;
	margin-top:10px;
	margin-left:25px;
	border-top:1px solid rgba(0,114,188,0.2);
}
nav.adress a{
	display:inline-block;
	width:62px;
	height:22px;
	background:url("https://www.21vek.by/img/tmp/knshopicon.gif");
}
nav.adress li:last-child{
	float:right;
	margin-right:0;
	margin-top:8px;
}
.good{
	display:inline-block;
	height:20px;
	width:20px;
	float:left;
	background:url("https://www.21vek.by/img/up/i-item.png")0 -20px;
	
}
.give_idea,.complain
{
	display:inline-block;
	width:113px;
	height:20px;
	margin-left:20px;
}
.give_idea a,.complain a{
	font:400 12px/16px Tahoma, sans-serif;
}
.complain{
	float:right;
	margin-left:0px;
}
.carefully{
	display:inline-block;
	height:20px;
	width:20px;
	float:left;
	background:url("https://www.21vek.by/img/up/i-item.png")0 -220px;
}
.profitable_proposition{
	clear:both;
	background-color:#84298F;
	width:100%;
	height:46px;
	position:absolute;
	bottom:-46;
}
.subscribe{
	float:left;
	font:700 14px/33px Tahoma, sans-serif;
	color:white;
	padding-top:8px;
	margin-left:100px;
}
.form_subscribe{
	float:left;
	margin-left:25px;
}
.form_subscribe input[type='text'],input[type='email']{
	padding:5px;
	margin-top:10px;
	width:130px;
	outline:0;
}
button[type='submit']{
	background:#a027af;
	color:white;
	border:1px solid white;
	padding:6px 25px 6px 25px;
	margin-left:10px;
	outline:0;
}
button[type='submit']:hover{
	background:#84298F;
	color:white;
}
.chat{
	width:400px;
	height:200px;
	background-color:red;
	position:fixed;
	right:-350px;
	bottom:200px;
	border-radius:20px 0 0 20px;
	border:1px solid black;
	
}
.read_our{
	border-radius:20px 0 0 20px;
	width:100px;
	height:200px;
	background-color:rgb(236, 239, 241);
	}
.read_our p{

	transform:rotate(-90deg);
	display:inline-block;
	margin-top:100px;
	white-space:nowrap;
	margin-left:-25px;
}
.exit{
	position:absolute;
	top:0;
	left:100;
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:50%;
	background:white url("https://avatanplus.com/files/resources/mid/57f9d49371db0157a7e6600a.png");
	background-size:cover;
}
.last1{
	position:absolute;
	bottom:0;
	right:0;
}

.menu{
	width:1000px;
	margin:0 25px 30px 25px;
	height:36px;
	background:linear-gradient(to left,#E91653,#990099);
	position:relative;
}
menu{
	margin:0 25px 30px 25px;
	height:36px;
	background:linear-gradient(to left,#E91653,#990099);
	position:relative;
}
.menu ul{
	display:flex;
	list-style:none;

}
.menu li:last-child a{
	padding:10px;
	display:block;
	margin-top:-8px;
	background-color:#c60c72;
	border:1px solid white;
	margin-right:8px;
}
.menu ul li{
	line-height:36px;
flex-grow:1;
text-align:center;
}
menu ul li:hover{
	background-color:#ea1653;
}
.menu ul li a{
	
	font:400 12px tahoma;
	color:white;
	text-decoration:none;
	border-bottom:1px dotted rgba(255,255,255,0.6);
}
menu:before{
	position: absolute;
    display: block;
    top: 0px;
    right: -1px;
    width: 6%;
    height: 37px;
    content: '';
    background: url('https://www.21vek.by/img/b-cap.png') no-repeat;
}